**/HELP.md
**/target/
!**/**/src/main/**
!**/**/src/test/**

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
.idea
**/.idea

*.iws
**/*.iws

*.iml
**/*.iml

*.ipr
**/*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**build/

### VS Code ###
**/.vscode/
